*, *:before, *:after {
    box-sizing: border-box;
}

.appShell {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(200, 200, 200, 0.8);
    /* Typography */
    font-family: Helvetia Neue, Helvetica, Roboto, Arial, sans-serif;
    overflow-y: auto;
}
